# Verification

The verification and KYC compliance on Credit Vaults is processed through [Keyring](https://www.keyring.network/).

Keyring offers streamlined and flexible solutions&#x20;

1. Through **Keyring Connect**, it is possible to seamlessly inherit compliance verification from third-party platforms such as Coinbase, Binance, Kraken, and other centralized exchanges. This process includes credentials and information, including entity jurisdiction, source of capital, source of wealth, source of funds, directors, UBOs, significant controllers, and letters of authorization.
2. Alternatively, if required by the Borrower for more comprehensive verification needs, **Keyring Pro** lets borrowers establish bespoken KYC/KYB policies, requesting more detailed information and document uploads from lenders. A live register of verified lenders is maintained within Credit Vaults.
